#spedup-large {
    position: absolute;
    top: -380px;
    left: calc(50% - 200px);
    z-index: -1;
}

#spedup-small {
    width: 1800px;
    position: absolute;
    bottom: -240px;
    left: -1100px;
    z-index: -1;
}

.container hr {
    height: 1px;
    border: 0;
    background-color: #565656;
    display: none;
}

.block {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.image {
    width: 30%;
    background-size: contain;
}

.text { 
    width: 60%;
    padding: 60px 0;
}

.text h2 {
    font-family: "Montserrat";
    font-weight: bold;
}

.text p {
    font-size: 1.2em;
    margin-top: 40px;
    line-height: 1.6em;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title ul {
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.title ul a {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.title ul a:nth-of-type(1) {
    margin: 0;
}

.title ul a li {
    width: 100%;
    height: 100%;
}

#exhibition {
    margin: 140px 0;
    align-items: flex-start;
}

#exhibition img {
    box-shadow: 0 0 16px #00000030;
}

#overview.text {
    padding: 0;
    margin: auto 0;
}

#overview h1 {
    font-size: 48pt;
}

#overview p {
    margin-top: 50px;
    font-size: 1.3em;
    line-height: 180%;
}

#crews {
    margin-bottom: 180px;
}

#yawayats,
#opensourcelab,
#jochiwontypography,
#primeframe
#vivid {
    scroll-margin-top: 160px;
}

@media screen and (max-width: 768px) {
    #spedup-large {
        width: 1280px;
        height: 1110;
        top: 7%;
        left: 50%;
        transform: translate(-640px, -555px);
    }

    #spedup-small {
        width: 0;
        height: 0;
    }

    .container hr {
        display: block;
    }

    #exhibition {
        margin-bottom: 100px;
    }

    #poster {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    #overview h1 {
        font-size: 36pt;
    }

    #overview p {
        margin-top: 30px;
        font-size: 12pt;
        text-align: left;
    }

    #crews {
        margin-bottom: 80px;
    }

    .block {
        display: block;
        margin: 60px 0;
    }

    .image {
        width: 200px;
        height: 150px;
        margin: 0 auto;
    }

    .text {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .text p {
        font-size: 12pt;
        text-align: center;
    }

    .title {
        display: block;
        text-align: center;
    }

    .title ul {
        width: 100px;
        margin: 20px auto;
        justify-content: center;
    }

    .title ul li {
        width: 19px;
        height: 19px;
    }

    .title ul li:nth-of-type(1) img {
        width: 20px;
        height: 20px;
    }
}