#crew {
    display: flex;
    width: auto;
    height: 60px;
    margin-bottom: 16px;
}

#crew div:nth-of-type(1) {
    width: 60px;
    height: 60px;
}

#crew div:nth-of-type(2) {
    width: 80px;
    height: 60px;
    transform: scale(1.2);
}

#crew span {
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 28pt;
    margin: auto 20px;
}

#project h1 {
    font-family: "Archivo Black", "Noto Sans KR";
    font-weight: 800;
}

#project h2 {
    font-size: 36pt;
    font-weight: 400;
}