* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:link,
a:focus,
a:visited {
    text-decoration: none;
    color: #565656;
}

body {
    background-color: #F2F2F2;
    color: #565656;
    font-family: "Archivo Black";
    font-weight: 400;
    position: relative;
    overflow: hidden scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

nav {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 1;
}

nav h1 {
    display: inline-block;
    margin-top: 18px;
    margin-left: 8%;
    letter-spacing: -1pt;
}

#nav-button {
    display: inline-block;
    width: 20%;
    max-width: 200px;
    margin-right: 8%;
    font-family: "Montserrat";
    font-weight: 500;
}

#nav-button ul {
    display: flex;
    justify-content: space-between;
}

#nav-button li {
    margin-top: 26px;
    list-style: none;
    transition: ease-in-out 0.5s;
}

#nav-button li:hover {
    transform: translate(0, 12px);   
}

#nav-button a,
#nav-button a:hover,
#nav-button a:visited,
#nav-button a:focus,
#nav-button a:link {
    transition: ease-in-out 0.5s;
}

#spedup-large {
    position: absolute;
    top: -380px;
    right: -560px;
    /* transform: rotate(15deg) scaleX(-1); */
    z-index: -1;
}

#spedup-small {
    width: 1400px;
    position: absolute;
    top: -240px;
    left: -840px;
    /* transform: rotate(35deg); */
    z-index: -1;
}

#main-title {
    margin-top: 26vh;
    margin-left: 8%;
    font-size: 156pt;
    letter-spacing: -6pt;
}

#ex-date {
    margin-top: 30px;
    margin-left: 8%;
    margin-bottom: 200px;
    font-size: 84pt;
    letter-spacing: -8pt;
}

.scrolling-text {
    display: flex;
    overflow: hidden;
}

.scrolling-text:nth-of-type(3) div {
    animation: scroll2 var(--time) linear infinite;
    color: #EA4D37;
}

.scrolling-text div {
    margin: 0 3px;
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
}

.scrolling-text div:nth-of-type(2) {
    animation-delay: calc(var(--time) * -2);
}

.scrolling-text div p {
    display: inline-flex;
    margin: 5px 3px;
    transition: 0.5s;
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 20pt;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#main-crews {
    margin: 180px 0;
    margin-left: 8%;
    width: 20%;
}

#main-crews a {
    display: inline-block;
    font-family: "DM Mono";
    font-weight: 300;
    /* font-size: 3rem; */
    font-size: 84pt;
    letter-spacing: 4pt;
    margin: 22px 0;
    transition: 0.5s;
}

#main-crews a:hover {
    color: #EA4D37;
}

hr {
    width: 160px;
    margin: 0 auto;
    border: 1px solid #C2C2C2;
}

footer {
    width: 540px;
    margin: 0 auto;
}

footer h3 {
    font-size: 24pt;
    text-align: center;
    margin: 30px auto 20px auto;
}

footer p {
    text-align: center;
    font-family: "Noto Sans";
}

#logos {
    margin: 30px auto 50px;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #C2C2C2;
}

@media screen and (max-width: 880px) {
    #nav-button ul {
        display: none;

    }

    nav h1 {
        font-size: 10pt;
    }

    #main-title {
        margin-top: 20vh;
        max-width: 360px;
        font-size: 64pt;
        letter-spacing: -3pt;
        line-height: -36pt;
    }

    #ex-date {
        font-size: 40pt;
        letter-spacing: -5pt;
    }

    #main-crews a {
        font-size: 32pt;
        letter-spacing: -1pt;
    }

    .scrolling-text div p {
        font-size: 12pt;
        margin: 2px 0;
    }

    #main-crews a {
        font-size: 18pt;
        letter-spacing: -1pt;
    }

    hr {
        width: 100px;
    }

    footer {
        width: 360px;
    }

    footer h3 {
        font-size: 16pt;
        margin: 20px auto 10px auto;
    }

    footer p {
        font-size: 8pt;
    }

    #logos {
        margin: 25px auto 40px auto;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}