.dummy1 {
    width: 300px;
    height: 200px;
    display: inline-block;
    background-color: gray;
}

.img-text {
    padding: 120px 0;
    display: flex;
    justify-content: space-around;
}

.img-text .dummy1 {
    margin-right: 20px;
}

.img-text .right-text {
    display: inline-block;

}

.right-text p {
    margin-top: 16px;
}